# Build Artifacts
.gradle
build
target
out/
bin/

# IDEA artifacts and output dirs
*.iml
*.ipr
*.iws
*.idea

# Eclipse artifacts
.classpath
.project
.settings/

# Node artifacts
src/main/webapp/app/node_modules
src/main/webapp/app/vendor